BOT_TOKEN=
# For listening to messages in a designated channel
MC_CHANNEL_ID=
# To send messages with a custom name and avatar
WEBHOOK_URL=
RCON_HOST=mc
RCON_PORT=25575
RCON_PASSWORD=
MC_LOG_PATH=/data/logs/latest.log

RUST_LOG=debug,h2=info,hyper=info,rustls=info